.forecast-summary{
  background-color: white;
  padding: 8px;
  margin: 8px;
  width: 130px;
  height:100px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  border-width: 2px;
  text-align: center;
}

.forecast-summary.selected.light, .forecast-summary.selected.dark {
  border-style: double;
  border-radius: 4px;
  border-width: 6px;
}

.forecast-summary.selected.light {
  background-color: white;
  color: black;
  border-color: black;
}

.forecast-summary.selected.dark {
  background-color: black;
  color: white;
  border-color: white;
}

.forecast-summary.dark {
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
}

.forecast-summary > button {
  border:none;
  background:none;
  text-decoration: underline;
  font-weight: bold;
}

.forecast-summary.dark > button {
  color: white;
}

button:hover {
  cursor: pointer;
}