.forecast-summary.unselected{
    background-color: white;
    padding: 8px;
    margin: 8px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    border-width: 2px;
    text-align: center;
}

.forecast-summary.selected {
    background-color: rgb(160, 157, 157);
    padding: 8px;
    margin: 8px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    border-width: 2px;
    text-align: center;
}